<!-- embedded ruby that displays one link to the north station schedule
and ont to the south station schedule -->

<div id='indexlinks'>
<% @stations.each do |station| %>
  <a href="/origins/<%= station.id.to_s %>"><%= station.origin %></a> <br><br>
<% end %>
</div>
