/*
 *= require_tree .
 *= require_self
 */


/*
Some very makeshift CSS just to get some color in there for now
*/

// .old_stations {
//   background: image-url(vintage) no-repeat center center fixed;
//   -moz-background-size: cover;
//   -o-background-size: cover;
//   -webkit-background-size: cover;
//   background-size: cover;
// }

.station_up {
  background: image-url(souths) no-repeat center center fixed;
  -moz-background-size: cover;
  -o-background-size: cover;
  -webkit-background-size: cover;
  background-size: cover;
}
/*html {
  background-color: darkcyan;
}*/

nav {
  padding: 15px 20px 10px 20px;
}

.header:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  width: 50%;
  height: 0;
}
.header { display: inline-block; }
* html .header { height: 1%; }
.header {display: block; }

#full-board {
  width: 80%;
  background-color: #111111;
  border-radius:10px;
  text-align: center;
  margin: 0;
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
}


.board, #date, #time {
  font: courier;
  color: yellow;
}

#stat {
  color: lightgreen
}

#date {
  float: left;
  font-size:10pt;
}

#time {
  float: right;
  font-size:12pt;
}

table {

  font-size:10pt;
}

#scheduledtime {
  text-align: right;
}

#title {
  text-align: center;
  color: white;
}

@font-face {
    font-family: "scoreboard";
    src: url("~/Desktop/scoreboard.ttf");
}

#station {
  color: white;
  padding: 0;
  margin-top: 0;
  display: inline;
  font-size:15pt;
  font-family: copperplate;
}


#stationlinks a:first-child {
  color: #f5ff7f;
  background: black; /* For browsers that do not support gradients */
  background: -webkit-linear-gradient(rgba(255,0,0,0) , black, rgba(255,0,0,0) ); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(rgba(255,0,0,0) , black, rgba(255,0,0,0) ); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(rgba(255,0,0,0) , black, rgba(255,0,0,0) );
  background: linear-gradient(rgba(255,0,0,0) ,  black , rgba(255,0,0,0) );
}
#stationlinks:last-child a{
  color: #4f5386;
  background: white; /* For browsers that do not support gradients */
  background: -webkit-linear-gradient(rgba(255,0,0,0) , white, rgba(255,0,0,0) ); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(rgba(255,0,0,0) , white, rgba(255,0,0,0) ); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(rgba(255,0,0,0) , white, rgba(255,0,0,0) );
  background: linear-gradient(rgba(255,0,0,0) , white, rgba(255,0,0,0) );
}

#stationlinks:last-child {
  margin-top:  100%;
}

#center {
    text-align: center;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

a:link {
    text-decoration: none;
}

a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

a{
  color: #d5e2ea;
  font-size: 25pt;
  font-family: copperplate;
}
